/node_modules
/public/hot
/public/js
/public/css
/public/storage
/storage/*.key
/vendor
/.idea
.env
.env.backup
.DS_Store
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/perms
/.editorconfig
/.jshintrc
/.phpstorm.meta.php
/.phpunit.result.cache
/_ide_helper.php
/stubs/
/stuff/
/public/info.php
/.htaccess
/public_html/
/public/vendor/
public_html
/composer.lock
/public/webfonts/
/public/fonts/
/storage/app/public/8/
/database/dumps/20210116_schokoladen_test.sql
/package-lock.json
